.fa-graduation-cap{
    color: indigo;
    font-size: 30px;
}
.main{
  margin-top: 70px;
}
.nav-link{
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 600;
}
p, h2, h3, h6, h1{ 
  margin: 5px;
  padding: 5px;
}
.main{
   margin-top:130px ;
}
div{
  margin: 10px;
  padding: 15px;
}
